extends ../layout/index
block contenido
    .py-10 
        h1.text-4xl.my-10.text-center.font-extrabold Ad
            span.text-blue-600 Doc
        h2.text-center.text-2xl.font-extrabold= pagina
        a(href="/dashboard/register" class="rounded-lg py-2  px-10 bg-blue-600 hover:bg-blue-700 text-sm text-white font-bold text-center uppercase my-5 inline-block sm:w-full md:w-auto") Register Pacient