extends ../layout/index
block contenido
    .py-10 
        h1.text-4xl.my-10.text-center.font-extrabold Ad
            span.text-blue-600 Doc
        h2.text-center.text-2xl.font-extrabold= pagina

        p.bg-blue-600.py-3.rounded-lg.text-cl.font-bold.text-center.text-white.my-10.font-bold= message