header.bg-blue-600.p-4
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-bold.text-center Ad
            span Doc

        nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden") 
            a(href="") My Pacients
            a(href="") My Profile 
            a(href="" class="bg-blue-700 py-2 rounded-lg px-10") LogOut